{% extends "base.html" %}

{% block content %}
    <div id="soutenance" class="glass">
        <h1>Soutenance</h1>
        <div class="info_horizontal">
            <div class="info_horizontal">
                <i class="fas fa-calendar-alt grande_icone"></i>
                <p>25 juillet 2025<br>11:00</p>
            </div>
            <div class="info_horizontal">
                <i class="fas fa-map-marker-alt grande_icone"></i>
                <p>I202</p>
            </div>
            <div class="info_horizontal">
                <i class="fas fa-users grande_icone"></i>
                <p>Mr Arsouze (tuteur), Mr Lorem, Mme Ipsum</p>
            </div>
        </div>
    </div>
{% endblock %}