{% extends "base.html" %}

{% block content %}
    <nav class="glass">
        <div class="info_horizontal">  
            <a href="{{ url_for('accueil_admin') }}" class="bouton_nav">Soutenances</a>
            <a href="{{ url_for('liste_etu_admin') }}" class="bouton_nav">Etudiants</a>
            <a href="{{ url_for('liste_ens_admin') }}" class="bouton_nav">Enseignants</a>
        </div>
    </nav>
    <div id="soutenance" class="glass">
        <h1>Soutenance</h1>
        <div class="info_horizontal">
            <div class="info_horizontal">
                <i class="fas fa-calendar-alt grande_icone"></i>
                <p>25 juillet 2025<br>11:00</p>
            </div>
            <div class="info_horizontal">
                <i class="fas fa-map-marker-alt grande_icone"></i>
                <p>I202</p>
            </div>
            <div class="info_horizontal">
                <i class="fas fa-users grande_icone"></i>
                <p>Mr Arsouze (tuteur), Mr Lorem, Mme Ipsum</p>
            </div>
        </div>
    </div>
{% endblock %}