{% extends "base.html" %}*

{% block navbar %}
    <a href="{{ url_for('planning_admin') }}" class="bouton_nav">Soutenances</a>
    <a href="{{ url_for('liste_etu_admin') }}" class="bouton_nav">Etudiants</a>
    <a href="{{ url_for('liste_ens_admin') }}" class="bouton_nav">Enseignants</a>
{% endblock %}

{% block content %}
    <div class="glass" id="filtre_admin">
        <select class="petit_bouton2" name="Formation" id="formation">
            <option value="Info">Informatique</option>
            <option value="Physique">Physique</option>
            <option value="GEA">GEA</option>
        </select>
        <select class="petit_bouton2" name="Année" id="annee">
            <option value="2A">2ème année</option>
            <option value="3A">3ème année</option>
        </select>
    </div>
{% endblock %}