{% extends "base.html" %}
{% block navbar %}
    <div class="boite_horizontale">
        <a href="{{ url_for('accueil_admin') }}" class="bouton_nav">
            <p>Accueil</p>
        </a>
        <a href="{{ url_for('planning_admin') }}" class="bouton_nav">
            <p>Planning</p>
        </a>
        <a href="{{ url_for('liste_etu_admin') }}" class="bouton_nav">
            <p>Etudiants</p>
        </a>
        <a href="{{ url_for('liste_ens_admin') }}" class="bouton_nav">
            <p>Enseignants</p>
        </a>
    </div>
    <div class="boite_horizontale">
        <p>{{ prenom }}<br>{{ nom }}</p>
        <i class="fas fa-user-circle petite_icone"></i>
        <a href="{{ url_for('index') }}">
            <i class="fas fa-sign-out-alt petite_icone"></i>
        </a>
    </div>
{% endblock %}
