{% extends "admin/base_admin.html" %}

{% block content %}
    <div class="glass" style="width: 90%; height: 100%;">
        <h1>{{ enseignant.civilite_enseignant }} {{ enseignant.nom_enseignant }} {{ enseignant.prenom_enseignant }}</h1>
        <div class="boite_verticale" style="display: flex; flex-direction: column; align-items: flex-start; gap: 12px; margin-top:3%; margin-left:2%;">
            <p><strong>Login : </strong>{{ enseignant.login_enseignant }}</p>
            <p><strong>Mail : </strong>{{ enseignant.email_enseignant }}</p>
            <p><strong>Étudiant suivi : </strong><a href="{{url_for('detail_etudiant_admin', id=etudiant_suivi.id_etudiant)}}" style="text-decoration: underline;">{{etudiant_suivi.civilite_etudiant}} {{ etudiant_suivi.prenom_etudiant }} {{ etudiant_suivi.nom_etudiant }}</a></p>
            {% if enseignant_promo %}
                <p><strong>Promo : </strong>{{ enseignant_promo.formation_promo }} {{ enseignant_promo.nom_promo }} {{ enseignant_promo.annee_promo }}</p>
            {% endif %}
            {% if jury_soutenances|length == 0 %}
                <p><strong>N'est jury d'aucune soutenance</strong></p>
            {% else %}
                <p><strong>Jury des soutenances : </strong>{{ jury_soutenances }}</p>
            {% endif %}
        </div>
    </div>

{% endblock %}