{% extends "admin/base_admin.html" %}

{% block content %}
    <div class="glass" style="width: 90%; height: 100%;">
        <div class="boite_horizontale" style="justify-content: center; position: relative; margin-top: 2%; width: 100%;">
            <a href="{{ url_for('liste_etu_admin') }}" class="petit_bouton" style="position: absolute; left: 20px; width: fit-content; font-size: 0.7em; padding: 10px 20px; margin: 0;"><i class="fas fa-arrow-left"></i> Retour</a>
            <h1 style="margin: 0;">{{ etudiant.civilite_etudiant }} {{ etudiant.prenom_etudiant }} {{ etudiant.nom_etudiant }}</h1>
        </div>
        <div class="boite_horizontale">
            <div class="boite_verticale" style="width: 50%; display: flex; flex-direction: column; align-items: flex-start; gap: 2em;">
                <p style="text-align: left;"><strong>Date de naissance : </strong>{{ etudiant.date_naissance }}</p>
                {% if etudiant.login %}
                    <p style="text-align: left;"><strong>Login : </strong>{{ etudiant.login_etudiant }}</p>
                    {% endif %}
                <p style="text-align: left;"><strong>Mail : </strong>{{ etudiant.email_etudiant }}</p>
                {% if etudiant_promo %}
                    <p style="text-align: left;"><strong>Promo : </strong>{{ etudiant_promo.formation_promo }} {{ etudiant_promo.nom_promo }} {{ etudiant_promo.annee_promo }} {{etudiant_promo.regime_etudiant}}</p>
                {% else %}
                    <p style="text-align: left;"><strong>Promo : </strong>Aucune trouvée</p>
                {% endif %}
                    {% if tuteur %}
                    <p><strong>Tuteur : </strong>{{ tuteur.civilite_enseignant }} {{ tuteur.nom_enseignant }} {{ tuteur.prenom_enseignant }}</p>
                {% endif %}
            </div>
            <div class="boite_verticale" style="display: flex; flex-direction: column; align-items: flex-start; gap: 1.5em; margin-top: 3%;">
                {% if demarches|length == 0 %}
                    <p>Aucune démarche enregistrée</p>
                {% else %}
                    <p><strong>Démarches enregistrées ({{ demarches|length }}) :</strong></p>
                    <ul style="margin: 0 0 0 20px;">
                        {% for demarche in demarches %}
                            <li>Type : {{ demarche.typeD }} | Source : {{ demarche.source }} | Situation : {{demarche.situation}}
                            {% if demarche.resulat %}
                                Résultat : {{ demarche.resultat }}
                            {% endif%}
                        </li>
                        {% endfor %}
                    </ul>
                {% endif %}

                {% if stage_etudiant %}
                    <p style="text-align: left;"><strong>Stage : </strong>{{stage_etudiant.typeS}} - {{stage_etudiant.titre_stage}}</p>
                    <p style="text-align: left;"><strong>Durée : </strong>du {{stage_etudiant.date_debut}} au {{stage_etudiant.date_fin}} 
                        {% if stage_etudiant.duree_stage %}
                            ({{stage_etudiant.duree_stage}} semaines)
                        {% endif %}
                    </p>
                    <p style="text-align: left;"><strong>Entreprise : </strong>{{entreprise.nom_entreprise}} <strong>Maître : </strong> {{maitre_stage.civilite_maitre}} {{maitre_stage.prenom_maitre}} {{maitre_stage.nom_maitre}} </p>
                {% else %}
                    <p>Aucun stage enregistré</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}