{% extends "admin/base_admin.html" %}

{% block content %}
    <div class="glass" style="width: 90%; height: 100%;">
        <div class="boite_horizontale" style="justify-content: center; position: relative; margin-top: 2%; width: 100%;">
            <a href="{{ url_for('liste_ens_admin') }}" class="petit_bouton" style="position: absolute; left: 20px; width: fit-content; font-size: 0.7em; padding: 10px 20px; margin: 0;"><i class="fas fa-code"></i> Retour</a>
            <h1>{{ enseignant.civilite_enseignant }} {{ enseignant.nom_enseignant }} {{ enseignant.prenom_enseignant }}</h1>
        </div>
        <div class="boite_verticale" style="display: flex; flex-direction: column; align-items: flex-start; gap: 12px; margin-left:2%;">
            <p><strong>Login : </strong>{{ enseignant.login_enseignant }}</p>
            <p><strong>Mail : </strong>{{ enseignant.email_enseignant }}</p>
            {% if etudiants_suivis %}
                <p><strong>Étudiants suivis : </strong>
                    {% for etudiant in etudiants_suivis %}
                        <a href="{{url_for('detail_etudiant_admin', id=etudiant.id_etudiant)}}" style="text-decoration: underline;">{{etudiant.civilite_etudiant}} {{ etudiant.prenom_etudiant }} {{ etudiant.nom_etudiant }}</a>{% if not loop.last %}, {% endif %}
                    {% endfor %}
                </p>
            {% else %}
                <p><strong>Aucun étudiant suivi</strong></p>
            {% endif %}
            {% if enseignant_promo %}
                <p><strong>Directeur d'études : </strong>{{ enseignant_promo.formation_promo }} {{ enseignant_promo.nom_promo }} {{ enseignant_promo.annee_promo }}</p>
            {% endif %}
            {% if jury_soutenances|length == 0 %}
                <p><strong>N'est jury d'aucune soutenance</strong></p>
            {% else %}
                <p><strong>Jury des soutenances : </strong>{{ jury_soutenances }}</p>
            {% endif %}
        </div>
    </div>

{% endblock %}