{% extends "admin/base_admin.html" %}


{% block content %}
    <div class="glass boite_verticale">
        <a href="{{ url_for('planning_admini') }}" class="petit_bouton" style="position: absolute; left: 20px; width: fit-content; font-size: 0.7em; padding: 10px 20px; margin: 0;"><i class="fas fa-code"></i> Retour</a>
                <div class="boite_horizontale">
                    <span id="date">{{ soutenance.dateS }}</span>
                    <div class="boite_horizontale">
                        <span class="badge_promo">{{ soutenance.nom_promo }}</span>
                        <span class="texte_header" bloc-label="Créneau">{{ soutenance.h_debut }}</span>
                        <span class="texte_header" bloc-label="salle">Salle: {{ soutenance.salle }}</span>
                    </div>
                </div>
           
                <p>
                    <strong>Jury :</strong>
                    {% if enseignants_jury %}
                        {% for ens in enseignants_jury %}
                            <a href="{{ url_for('detail_enseignant', id=ens.id_enseignant) }}" style="text-decoration: underline; color: inherit;">
                                {{ ens.nom_enseignant }} {{ ens.prenom_enseignant }},
                            </a>
                        {% endfor %}
                    {% else %}
                        Jury non assigné
                    {% endif %}
                </p>


                <table >
                    <thead>
                        <tr>
                            <th>Étudiants</th>
                            <th>Intitulé du stage</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ soutenance.stage.demarche.etudiant.nom_etudiant }} {{ soutenance.stage.demarche.etudiant.prenom_etudiant }}</td>
                            <td>{{ soutenance.stage.titre_stage }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>


{% endblock %}
