{% extends "admin/base_admin.html" %}

{% block content %}
    <div class="boite_horizontale">
        <aside id="en_haut" id="filtre_liste_admin">
            <form method="get">
                <a href="{{ url_for('accueil_admin') }}" class="petit_bouton" style="font-size: 0.7em; align-items: center; display: block; margin: 12px auto; margin-bottom:10%; width: 30%;"><i class="fas fa-code"></i> Retour</a>
                <select class="combobox" name="soutenance" id="soutenance">
                    <option value="">Soutenance</option>
                    <option value="Soutenance" {{ 'selected' if request.args.get('soutenance') == 'Soutenance' else '' }}>Soutenance posées</option>
                    <option value="NonSoutenance" {{ 'selected' if request.args.get('soutenance') == 'NonSoutenance' else '' }}>Soutenance non posées</option>
                </select>
                <select class="combobox" name="candide" id="candide">
                    <option value="">Candide</option>
                    <option value="Candide" {{ 'selected' if request.args.get('candide') == 'Candide' else '' }}>Soutenance candide posées</option>
                    <option value="NonCandide" {{ 'selected' if request.args.get('candide') == 'NonCandide' else '' }}>Soutenances candide non posées</option>
                </select>
                <button class="petit_bouton" id="filtrer" type="submit">Filtrer</button>
            </form>
        </aside>

        <div class="boite_verticale">
            {% if resultats|length == 0 %}
                <p>Aucun enseignant trouvé.</p>
            {% endif %}
            {% for res in resultats %}
            <div class="glass" id="liste_etu">
                <div class="boite_horizontale info-grid" style="display: grid; grid-template-columns: 50px 2fr 1.5fr 2fr 50px 180px; align-items: center; gap: 10px;">
                    <i class="fas fa-user-circle grande_icone"></i>
                    <p class="pliste" style="border-right: 2px solid; padding-right: 10px;">{{ res.enseignant.nom_enseignant }} {{ res.enseignant.prenom_enseignant }}</p>
                    <p class="pliste" style="border-right: 2px solid; padding-right: 10px;"> Tutorés : {{ res.nb_tutores }}</p>
                    <p class="pliste"> Assiste à soutenance : {{ res.nb_soutenances_posees }} / {{ res.nb_soutenances }} </p>
                    <a id="detail" href="{{ url_for('detail_enseignant', id=res.enseignant.id_enseignant) }}"><i class="fas fa-info"></i></a>
                    <button id="ajout_sout" class="petit_bouton">Ajouter soutenance</button>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}