{% extends "admin/base_admin.html" %}

{% block content %}
    <div class="boite_horizontale">
        <aside id="filtre_liste_admin">
            <select class="combobox" name="Année" id="annee">
                <option value="Année">Année</option>
                <option value="2A">2ème année</option>
                <option value="3A">3ème année</option>
            </select>
            <select class="combobox" name="Formation" id="formation">
                <option value="Formation">Formation</option>
                <option value="Info">Informatique</option>
                <option value="Chimie">Chimie</option>
                <option value="GEA">GEA</option>
            </select>
            <select class="combobox" name="Groupe" id="groupe">
                <option value="Groupe">Groupe</option>
                <option value="Groupe 1">Groupe 1</option>
                <option value="Groupe 2">Groupe 2</option>
                <option value="Groupe 3">Groupe 3</option>
                <option value="Groupe 4">Groupe 4</option>
            </select>
            <select class="combobox" name="Situation" id="situation">
                <option value="Situation">Situation</option>
                <option value="Trouvé">Trouvé</option>
                <option value="En cours">En cours</option>
            </select>
            <button class="petit_bouton" id="filtrer">Filtrer</button>
            <select class="combobox" name="Trier" id="trier">
                <option value="Trier">Trier par</option>
                <option value="Nom">Nom</option>
                <option value="Groupe">Groupe</option>
                <option value="Situation">Nombre de démarches</option>
            </select>
        </aside>

        <div class="boite_verticale">
            {% for (id, infos) in lst_etu.items() %}
            <div class="glass" id="liste_etu">
                <div class="boite_horizontale info-grid">
                    <i class="fas fa-plus-circle grande_icone"></i>
                    <p id="nom_prenom_etudiant">{{ infos[0] }} {{ infos[1] }} |</p>
                    <p id="formation_etudiant"> {{ infos[2] }} |</p>
                    <p id="groupe_etudiant"> {{ infos[3] }} |</p>
                    <p id="demarches_etudiant">Démarches : {{ infos[4] }} |</p>
                    <p id="situation_etudiant"> {{ "Stage trouvé" if infos[5] else "Recherche en cours" }}</p>
                </div>
            </div>
            {% endfor %}
        </div>

    </div>
{% endblock %}