{% extends "admin/base_admin.html" %}

{% with messages = get_flashed_messages(with_categories=true) %} 
        {% if messages%} 
            <div class="boite_verticale" style="width: 100%; padding: 0;">
                {% for category, message in messages %}
                    <div class="glass alert alert-{{ category }} alert-dismissible fade show custom-alert" role="alert">
                        <i class="fas {% if category == 'success' %}fa-check-circle{% elif category == 'danger' %}fa-exclamation-triangle{% else %}fa-info-circle{% endif %} grande_icone" style="font-size: 1.2em !important;"></i>
                        <span style="flex-grow: 1;">{{ message }}</span>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                            <i class="fas fa-times"></i>
                        </button>
                    </div>
                {% endfor %} 
            </div>
        {% endif %} 
    {% endwith %}

{% block content %}
    <div class="boite_horizontale">
        <aside id="en_haut" id="filtre_liste_admin">
            <form method="get">
                <a href="{{ url_for('accueil_admin') }}" class="petit_bouton" style="font-size: 0.7em; align-items: center; display: block; margin: 12px auto; margin-bottom:10%; width: 30%;"><i class="fas fa-code"></i> Retour</a>
                <select class="combobox" name="soutenance" id="soutenance">
                    <option value="">Soutenance</option>
                    <option value="Soutenance" {{ 'selected' if request.args.get('soutenance') == 'Soutenance' else '' }}>Soutenance posées</option>
                    <option value="NonSoutenance" {{ 'selected' if request.args.get('soutenance') == 'NonSoutenance' else '' }}>Soutenance non posées</option>
                </select>
                <select class="combobox" name="candide" id="candide">
                    <option value="">Candide</option>
                    <option value="Candide" {{ 'selected' if request.args.get('candide') == 'Candide' else '' }}>Soutenance candide posées</option>
                    <option value="NonCandide" {{ 'selected' if request.args.get('candide') == 'NonCandide' else '' }}>Soutenances candide non posées</option>
                </select>
                <button class="petit_bouton" id="filtrer" type="submit">Appliquer</button>
            </form>
        </aside>

        <div class="boite_verticale">
            {% if resultats|length == 0 %}
                <p>Aucun enseignant trouvé.</p>
            {% endif %}
            {% for res in resultats %}
            <div class="glass liste_ens" style="position: relative;">
                <a href="{{ url_for('detail_enseignant', id=res.enseignant.id_enseignant) }}" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 1;"></a>
                
                <div class="boite_horizontale info-grid" style="display: grid; grid-template-columns: 50px 1.2fr 0.7fr 2fr 1.5fr 1fr; align-items: center; gap: 10px; position: relative; z-index: 2; pointer-events: none;">
                    <i class="fas fa-user-circle grande_icone"></i>
                    <p class="pliste" style="border-right: 2px solid; padding-right: 10px;">{{ res.enseignant.prenom_enseignant }} {{ res.enseignant.nom_enseignant }}</p>
                    <p class="pliste" style="border-right: 2px solid; padding-right: 10px;">Tutorés : {{ res.nb_tutores }}</p>
                    <p class="pliste" style="border-right: 2px solid; padding-right: 10px;">Soutenances de tutorés posées : {{ res.nb_soutenances_en_tuteur }} / {{ res.nb_tutores }} </p>
                    <p class="pliste">Soutenances en candide : {{ res.nb_candide }} </p>
                    <a href="{{ url_for('liste_soutenances_candides_admin', id=res.enseignant.id_enseignant)}}" class="petit_bouton btn-overlay" style="font-size: 0.7em; width: 100%; pointer-events: auto;">Ajouter soutenance</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}