{% extends "enseignant/base_enseignant.html" %}


{% block content %}
    <div class="boite_vertical">
        <div class="boite_vertical">
            <div class="boite_horizontale">
                <h1>Tutorés</h1>
                <select name="filtre" id="filtre_accueil_enseignant" class="choix">
                    <option value="Filtres">Filtres</option>
                </select>
                <i class="fas fa-search"></i>
                <div class="boite_vertical">
                </div>
            </div>
            <div class="boite_horizontale">
                <div class="glass_tutoré_accueil">
                    <div class="boite_horizontale">
                        <h2>john doe</h2>
                    </div>
                    <div class="boite_horizontale">
                        <i class="far fa-clipboard"></i>
                        <p>état:</p>
                    </div>
                    <div class="boite_horizontale">
                        <i class="far fa-calendar-alt"></i>
                        <p>8:15</p>
                    </div>
                </div>
                <div class="glass_tutoré_accueil">
                    <div class="boite_horizontale">
                        <h2>john doe</h2>
                    </div>
                    <div class="boite_horizontale">
                        <i class="far fa-clipboard"></i>
                        <p>état:</p>
                    </div>
                    <div class="boite_horizontale">
                        <i class="far fa-calendar-alt"></i>
                        <p>8:15</p>
                    </div>
                </div>
                <div class="glass_tutoré_accueil">
                    <div class="boite_horizontale">
                        <h2>john doe</h2>
                    </div>
                    <div class="boite_horizontale">
                        <i class="far fa-clipboard"></i>
                        <p>état:</p>
                    </div>
                    <div class="boite_horizontale">
                        <i class="far fa-calendar-alt"></i>
                        <p>8:15</p>
                    </div>
                </div>
                <div class="glass_tutoré_accueil">
                    <div class="boite_horizontale">
                        <h2>john doe</h2>
                    </div>
                    <div class="boite_horizontale">
                        <i class="far fa-clipboard"></i>
                        <p>état:</p>
                    </div>
                    <div class="boite_horizontale">
                        <i class="far fa-calendar-alt"></i>
                        <p>8:15</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="boite_horizontale">
            <div class="boite_vertical">
                <div class="boite_horizontale">
                    <h1>Planning</h1>
                    <select name="filtre_planning" id="filtre_planning_annee_enseignant" class="choix">
                        <option value="3éme année">3éme année</option>
                        <option value="2éme année">2éme année</option>
                    </select>
                </div>
                <div class="boite_horizontale">
                    <div class="glass_planning_accueil">
                        <p>25/07</p>
                        <div class="dark_planning_accueil">
                            <div class="boite_horizontale">
                               <div class="boite_vertical">
                                    <p>8:00</p>
                                    <p>9:00</p>
                                </div>
                                <i class="fas fa-map-marker-alt"></i>
                                <p>I202</p> 
                                </div>
                        </div>
                    </div>
                    <div class="glass_planning_accueil">
                        <p>26/07</p>
                    </div>
                    <div class="glass_planning_accueil">
                        <p>27/07</p>
                    </div>
                </div>
            </div>
            <div class="boite_vertical">
                <div class="boite_horizontale">
                    <h1>soutenance des BUT3</h1>
                </div>
                <div class="boite_horizontale">
                    <div class="glass_soutBUT3_accueil">
                    <h2>soutenance posées</h2>
                    <h2>/</h2>
                        <div class="boite_vertical">
                            <a href="{{ url_for(accueil) }}" id="glass_fleche_nav">
                              <i class="fas fa-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                    <div class="glass_soutBUT3_accueil">
                        <div class="boite_vertical">
                            <h2>soutenance en<br />candide choisies</h2>
                            <h2>/</h2>
                            <a href="{{ url_for(accueil) }}" id="glass_fleche_nav">
                              <i class="fas fa-arrow-right"></i>  
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}