{% extends "enseignant/base_enseignant.html" %}
{% block content %}
   <div class="boite_horizontale">
<form id="filtres" method="get" action="{{ url_for('soutenance_enseignant') }}">
    <aside id="filtre_liste_admin">
        <select class="combobox" name="nom_promo" id="nom_promo">
            <option value="">Niveau</option>
            <option value="2A" {% if request.args.get('nom_promo') == '2A' %}selected{% endif %}>2ème année</option>
            <option value="3A" {% if request.args.get('nom_promo') == '3A' %}selected{% endif %}>3ème année</option>
        </select>
        <select class="combobox" name="regime" id="regime">
            <option value="">Régime</option>
            <option value="Initial" {% if request.args.get('regime') == 'Initial' %}selected{% endif %}>Initial</option>
            <option value="Alternance" {% if request.args.get('regime') == 'Alternance' %}selected{% endif %}>Alternance</option>
        </select>
        <select class="combobox" name="formation_promo" id="formation">
            <option value="">Formation</option>
            <option value="Info" {% if request.args.get('formation_promo') == 'Info' %}selected{% endif %}>Informatique</option>
            <option value="Chimie" {% if request.args.get('formation_promo') == 'Chimie' %}selected{% endif %}>Chimie</option>
            <option value="GEA" {% if request.args.get('formation_promo') == 'GEA' %}selected{% endif %}>GEA</option>
        </select>
        <select class="combobox" name="date_soutenance" id="jour">
        <option value="">Jour</option>
        {% for val, label in dates_disponibles %}
            <option value="{{ val }}" {% if request.args.get('date_soutenance') == val %}selected{% endif %}>{{ label }}</option>
        {% endfor %}
        </select>


        <select class="combobox" name="heure_soutenance" id="heure">
        <option value="">Heure</option>
        {% for heure_s in heures_disponibles %}
            <option value="{{ heure_s }}" {% if request.args.get('heure_soutenance') == heure_s %}selected{% endif %}>{{ heure_s }}</option>
        {% endfor %}
        </select>


        <select class="combobox" name="jury_enseignant_id" id="jury">
            <option value="">Jury (Enseignant)</option>
            {% for enseignant in enseignants_disponibles %}
                <option value="{{ enseignant.id_enseignant }}" {% if request.args.get('jury_enseignant_id') == enseignant.id_enseignant|string %}selected{% endif %}>{{ enseignant.nom_enseignant }} {{ enseignant.prenom_enseignant }}</option>
            {% endfor %}
        </select>
        <input type="checkbox" id="inscrit" name="inscrit" />
        <label for="inscrit">Soutenance inscrit</label>
        <button class="petit_bouton" id="filtrer" type="submit">Filtrer</button>
        <select class="combobox" name="trier" id="trier">
            <option value="">Trier par</option>
            <option value="Nom" {% if request.args.get('trier') == 'Nom' %}selected{% endif %}>Nom de l'étudiant</option>
            <option value="DateDesc" {% if request.args.get('trier') == 'DateDesc' %}selected{% endif %}>Date (Décroissant)</option>
        </select>
    </aside>
</form>
<div id="planning-boite">
    <div class="boite_horizontale">
        <h1>Planning des Soutenances</h1>       
    </div>
    {% if resultats|length == 0 %}
        <div class="no-bloc">
            <p>Aucune soutenance n'a été planifiée pour le moment.</p>
        </div>
    {% else %}
        {% for bloc in resultats %}
        <div class="glass boite_verticale">
            <div class="boite_horizontale">
                <span id="date">{{ bloc.dateS }}</span>
                <div class="boite_horizontale">
                    <span class="badge_promo">{{ bloc.nom_promo }}</span>
                    <span class="texte_header" bloc-label="Créneau">{{ bloc.h_debut }}</span>
                    <span class="texte_header" bloc-label="salle">Salle: {{ bloc.salle }}</span>
                </div>
            </div>
           
            <p>
                Jury: {{ bloc.jury_noms }}
            </p>


            <table >
                <thead>
                    <tr>
                        <th>Étudiants</th>
                        <th>Intitulé du stage</th>
                    </tr>
                </thead>
                <tbody>
                    {% for stage_info in bloc.stages %}
                        <tr>
                            <td>{{ stage_info.nom_etudiant }} {{ stage_info.prenom_etudiant }}</td>
                            <td>{{ stage_info.titre_stage }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="boite_horizontale">
                {% if bloc.bouton_desinscription %}
                    <p><a href="{{ url_for('desinscription_enseignant', liste_soutenance=bloc.liste_id_soutenance) }}" class="petit_bouton">se désinscrire</a></p>
                {% elif bloc.bouton_inscription %}
                    <p><a href="{{ url_for('inscription_enseignant', liste_soutenance=bloc.liste_id_soutenance) }}" class="petit_bouton">s'inscrire</a></p>
                {% endif %}
                {% if bloc.inscris %}
                    <p>Inscris</p>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    {% endif %}
</div>
</div>
{% endblock %}