{% extends "base.html" %}

{% block content %}
<section id="soutenance" class="glass">
    <h1>Résumé démarche</h1>
    <div class="info_vertical">
        <div class="boite_H_info_V">
            <div class="info_vertical">
                <div class="info_horizontal">
                    <i class="fas fa-building"></i>
                    <p><strong>Entreprise</strong></p>
                </div>
                <p>Nom entreprise : {{nom_entreprise}}</p>
                <p>Secteur d'activité : {{typeE}}</p>
                <p>Adresse : {{ville}} {{adresse}}</p>
            </div>
            <div class="info_vertical">
                <p>Date envoie : </p>
                <p>CV : </p>
                <p>Lettre de motivation :</p>
                <p>Résultat : </p>
            </div>
        </div>
        <div class="bouton_horizontal">
                <a href="{{ url_for('resume_demarches_etudiant') }}" class="petit_bouton">Retour</a>
                <a href="" class="petit_bouton">Modifier</a>
                <a href="" class="petit_bouton_imp">Choisir ce stage</a>
                </div>
            </div>
    </div>
</section>
{% endblock %}